#header{
    height: 68px;
    padding: 22px;
}

.link{
    text-decoration: none;
    color: #b3b3b3;
    font-size: large;
}

.link:hover{
    color: #808080;
    font-size: large;
    text-decoration: underline;
}

#icon{
    text-decoration: none;
    color: #0275d8;
}

#myBtn{
    width:max-content;
    height: 32px;
    padding: 0px 15px ;
}

#main{
    height: 80vh;
}

#searchbox{
    border: 1px solid #b3b3b3;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%
}

#searchbox:focus{
    outline: none;
}

.icon-left>i{
    border: 1px solid #b3b3b3;
    padding: 10px;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    color: #b3b3b3;
    border-right-color: #ffffff;
}
.icon-right{
    border: 1px solid #b3b3b3;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    color: #b3b3b3;
    border-left-color: #ffffff;
}


input[type=submit]:hover {
    box-shadow: 0px 0px 1px 1px #d3d3d3;
    }

#srchbtn{
    padding: none;
    background: none;
    border: none;
    color: #0275d8;
}

.ipIcon {
    padding: 0px 7px;
    align-items: center;
    position: relative;
    display: inline-block;
  }
  
  .ipIcon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
  }
  
  .ipIcon .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .ipIcon:hover .tooltiptext {
    visibility: visible;
  }

  .ipIcon i{
      padding-top: 10px;
  }

  .ipIcon > a {
      text-decoration: none;
      color: #b3b3b3;
  }

  .headertext{
        font-family: Arial, Helvetica, sans-serif;
        color:#d93025;
        font-weight: 200;
        font-size: 20px;
        margin-left: 18px;
  }